<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mirart</title>
    <link rel="preload" href="css/normalize.css" as="style">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="preload" href="css/style.css" as="style">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav class="nav-principal-contenedor sticky" style="height: 100px;">
           
            <a href="/">
                <img src="img/LOGO.png" alt="" class="logo">
            </a>
            <div class="titulo">
            <span style="color: #fff; font-size:40px;">Mirart</span>
            </div>

            
          
             <ul class="nav">
                            
				      <li><a href=""><img class="hamburger-icon" src="img/Menu icon.png" alt=""></a>
					      <ul>
                              <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Iniciar Sesion</a></li>
                              <li sec:authorize="!isAuthenticated()"><a href="/registro">Registrarse</a></li>
                              <li sec:authorize="isAuthenticated()">
                                  <form id="logoutForm" th:action="@{/logout}" method="post">
                                      <button onclick="document.getElementById('logoutForm').submit();" type="submit">Cerrar Sesion</button>
                                  </form>
                              </li>
					      </ul>
				      </li>
			</ul>     
            
        
            
        </nav>   
    </header>

    
        <div class="sidebar sticky" style="width: 100px;">
            <div class="sidebar-content">
                <a href="/">
                    <img src="img/HOME icon.png" alt="">
                </a>
                
                <a href="/highlights">
                    <img src="img/HIGHLIGHTS icon.png" alt="">
                </a>
               
                <a href="/profile" class="active-page" sec:authorize="isAuthenticated()">
                    <img src="img/PROFILE.png" alt="">
                </a>

                <a href="/submit_drawing" alt="" sec:authorize="isAuthenticated()">
                    <img src="/img/add ICON.png" alt="">
                </a>
                
                <a href="/" class="sb-faq">
                    <img src="img/FAQ.png" alt="">
                </a>

                
            </div> 
        </div>  
    
    <section class="content" style="width: auto ;">
        
        <div class="hero-image">
            <img th:src="${artista.getBannerPicture()}" style="width: 250rem; height: 50rem; object-fit: cover;">
            <div class="hero-content">
                <img th:src="${artista.getProfilePicture()}" class="profile-photo" style="border-radius: 200px; height: 350px; width: 350px; vertical-align: middle; margin-top: 20%; ">
            </div>
            <div class="hero-text" style="vertical-align: middle;">
                <h1 th:text="${artista.getNickname()}"></h1>
                <i th:text="${artista.getTerms()}"></i>

            </div>
          </div>

            <section class="profile-content">
              <p style="color: white; font-size: 30px; margin-left:20px ;">Sobre mi:</p>
 
                <div class="textbox">
                    <p class="descripcion" style="width: 1000px; background-color: #271E1E; padding: 3rem; border-radius: 20px;" th:text="${artista.getDescripcion()}"></p>

                        <li class="profile-rrss">
                    
                            <a th:href="${artista.getLinkIG()}">
                            <img src="img/IG icon.png" style="height: 50px; vertical-align: middle"> 
                            <span>Instagram</span>
                            </a>
                            <br>
                            <br>
                            <a th:href="${artista.getLinkTW()}">
                                <img src="img/TW icon.png" style="height: 50px; vertical-align: middle">
                                <span>Twitter</span>
                            </a>
                            <br>
                            <br>
                        
                            <a th:href="${artista.getLinkFB()}">
                                <img src="img/FB icon.png" style="height: 70px; vertical-align: middle"> 
                                <span>Facebook</span> 
                            </a>
                        </li>
                        <div class="boton" style="margin-left: 6rem;">
                            <a class="b-waitlist" style="vertical-align: middle;" th:href="${artista.getLinkWaitlist()}">Waitlist</a>

                        </div>
                 </div>

                <div class="gallery" th:if="${artista.getDibujos().isEmpty()}">
                    <br>
                    <br>
                    <h2 style="color: white; text-align: center; padding: 3%">No se encuentran dibujos.</h2>
                </div>

                <div class="gallery" >
                    <div class="row">
                        <div class="column" th:if="${!artista.getDibujos().isEmpty()}" th:each=" dibujo :${artista.getDibujos()}" >
                            <a th:href="@{/visor(id_dibujo=${dibujo.getId()})}">
                                <img class="demo cursor" th:src="${dibujo.getLink()}" style="width:100%; padding: 2rem;"  >
                            </a>
                        </div>
                    </div>
                </div>


     
            </section>

            
        </div>
    </section>

    <script src="js/script.js"></script>
    
</body>
</html>