<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mirart</title>
    <link rel="preload" href="css/normalize.css" as="style">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="preload" href="css/style.css" as="style">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <header>
            <nav class="nav-principal-contenedor sticky" style="height: 100px;">
               
                <a href="/">
                    <img src="img/LOGO.png" alt="" class="logo">
                </a>
                <div class="titulo">
                <h1 >Mirart</h1>
                </div>
    
            
                
                <ul class="nav">
                    
                    <li><a href=""><img class="hamburger-icon" src="img/Menu icon.png" alt=""></a>
                        <ul>
                            <li><a href="/login">Iniciar Sesion</a></li>
                            <li><a href="/register">Registrarse</a></li>
                            
                                
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            
                
            </nav>   
        </header>
    </header>
    
        <div class="sidebar sticky" style="width: 100px;">
            <div class="sidebar-content">
                <a href="/">
                    <img src="img/HOME icon.png" alt="">
                </a>
                
                <a href="/highlights">
                    <img src="img/HIGHLIGHTS icon.png" alt="">
                </a>
               
                <a href="/profile">
                    <img src="img/PROFILE.png" alt="">
                </a>
                
                <a href="/" class="sb-faq">
                    <img src="img/FAQ.png" alt="">
                </a>
            </div> 
        </div>  
    
    <section class="content" style="width: auto ;">
        
        <div class="hero-image">
            <img src="img/fondo.png" style="width: 2500px; height: 500px; object-fit: cover;">
            <div class="hero-content">
                <img src="img/profilephoto.png" class="profile-photo" style="margin-top:20rem; margin-left:30rem ; border-radius: 20rem; height: 35rem; width: 35rem; vertical-align: middle;">
                <div class="hero-text" style="vertical-align: middle;">
                    <h1>Nombre Usuario</h1>
                    <i>"Hola"</i>
                    
                </div>
              
            </div>
          </div>

            <section class="profile-content">
              <p style="color: white; font-size: 30px; margin-left:20px ;">Sobre mi:</p>
 
                <div class="textbox">
                    <p class="descripcion" style="width: 1000px; background-color: #271E1E; padding: 30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Duis scelerisque luctus nisl, non lobortis ante cursus ut. 
                        Fusce rhoncus, neque in placerat ornare, sapien dolor tincidunt est, ac viverra ex tellus eu dolor. 
                        Morbi luctus erat sed posuere dignissim. Integer a elit eu est laoreet tristique. Curabitur pretium felis orci, a sodales tortor pretium vitae. 
                        Nulla luctus dapibus mi, id porttitor urna. Vivamus mollis risus eu lorem interdum tristique. Nam congue diam sit amet ligula tincidunt, eget lobortis sapien ultrices. 
                        Cras porttitor non odio vitae scelerisque. Vivamus scelerisque mi sit amet aliquet lobortis. In aliquam sem in nulla pharetra, ut semper ligula venenatis. 
                    </p>

                        <li class="profile-rrss">
                    
                            <a href="#">
                            <img src="img/IG icon.png" style="height: 50px; vertical-align: middle"> 
                            <span>Instagram</span>
                            </a>
                            <br>
                            <br>
                            <a href="#">
                                <img src="img/TW icon.png" style="height: 50px; vertical-align: middle">
                                <span>Twitter</span>
                            </a>
                            <br>
                            <br>
                        
                            <a href="#">
                                <img src="img/FB icon.png" style="height: 70px; vertical-align: middle"> 
                                <span>Facebook</span> 
                            </a>
                        </li>
                        <div class="boton" style="margin-left: 15%;">
                            <a class="b-comision" style="vertical-align: middle;" href="#">Comisiones</a>
                        </div>
                        <div class="boton" style="margin-left: 20px;">                           
                            <a class="b-waitlist" style="vertical-align: middle;" href="#">Waitlist</a>

                        </div>
                 </div>
                 
                 <div class="profile-gallery">
                     
                    <div class="row">
                      <div class="column">
                          <a href="/visor">
                            <img class="demo cursor" src="img/LOGO.png" style="width:100%" onclick="currentSlide(6)" >
                          </a>
                      </div>
                      <div class="column">
                          <a href="/visor">
                            <img class="demo cursor" src="img/LOGO.png" style="width:100%" onclick="currentSlide(6)" >
                          </a>
                      </div>
                      <div class="column">
                          <a href="/visor">
                            <img class="demo cursor" src="img/LOGO.png" style="width:100%" onclick="currentSlide(6)" >
                          </a>
                      </div>
                      <div class="column">
                          <a href="/visor">
                            <img class="demo cursor" src="img/LOGO.png" style="width:100%" onclick="currentSlide(6)" >
                          </a>
                      </div>
                      <div class="column">
                          <a href="/visor">
                            <img class="demo cursor" src="img/LOGO.png" style="width:100%" onclick="currentSlide(6)" >
                          </a>
                      </div>
                      <div class="column">
                          <a href="/visor">
                            <img class="demo cursor" src="img/LOGO.png" style="width:100%" onclick="currentSlide(6)" >
                          </a>
                      </div>
                      <div class="column">
                          <a href="/visor">
                          <img class="demo cursor" src="img/LOGO.png" style="width:100%" onclick="currentSlide(6)" >
                        </a>
                    </div>
                    <div class="column">
                        <a href="/visor">
                          <img class="demo cursor" src="img/LOGO.png" style="width:100%" onclick="currentSlide(6)" >
                        </a>
                    </div>
                    <div class="column">
                        <a href="/visor">
                          <img class="demo cursor" src="img/LOGO.png" style="width:100%" onclick="currentSlide(6)" >
                        </a>
                    </div>
                    <div class="column">
                        <a href="/visor">
                          <img class="demo cursor" src="img/LOGO.png" style="width:100%" onclick="currentSlide(6)" >
                        </a>
                    </div>
                    <div class="column">
                        <a href="/visor">
                          <img class="demo cursor" src="img/LOGO.png" style="width:100%" onclick="currentSlide(6)" >
                        </a>
                    </div>
                    <div class="column">
                        <a href="/visor">
                          <img class="demo cursor" src="img/LOGO.png" style="width:100%" onclick="currentSlide(6)" >
                        </a>
                    </div>
                    <div class="column">
                        <a href="/visor">
                          <img class="demo cursor" src="img/LOGO.png" style="width:100%" onclick="currentSlide(6)" >
                        </a>
                    </div>
                     <div class="column">
                         <a href="/visor">
                            <img class="demo cursor" src="img/LOGO.png" style="width:100%" onclick="currentSlide(6)" >
                          </a>
                      </div>
                    
    
                      
                    </div>
                </div>
     
            </section>

            
        </div>
    </section>

    <script src="js/script.js"></script>
    
</body>
</html>