<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mirart</title>
    <link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
    <link rel="preload" href="css/normalize.css" as="style">
    <link rel="stylesheet" href="css/normalize.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preload" href="css/style.css" as="style">
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <header>
        <nav class="nav-principal-contenedor sticky" style="height: 100px;">
           
            <a href="/">
                <img src="img/LOGO.png" alt="" class="logo">
            </a>
            <div class="titulo">
            <h1 >Mirart</h1>
            </div>

        
            
            <ul class="nav">
				
				<li><a href=""><img class="hamburger-icon" src="img/Menu icon.png" alt=""></a>
					<ul>
						<li><a href="/login">Iniciar Sesion</a></li>
						<li><a href="/registro">Registrarse</a></li>
						
							
						</li>
					</ul>
				</li>
				
			</ul>
        
            
        </nav>   
    </header>

    <div class="sidebar sticky" style="width: 100px;">
        <div class="sidebar-content">
            <a href="/">
                <img src="img/HOME icon.png" alt="">
            </a>
            
            <a href="/highlights" class="active-page">
                <img src="img/HIGHLIGHTS icon.png" alt="">
            </a>
           
            <a href="/profile">
                <img src="img/PROFILE.png" alt="">
            </a>

            <a href="/submit_drawing" alt="">
                <img src="/img/add ICON.png" alt="">
            </a>
            
            <a href="/" class="sb-faq">
                <img src="img/FAQ.png" alt="">
            </a>
        </div> 
    </div>  
    
    <section class="content" style="width: auto ; height: 118.5rem;">
        <h2 style="color: white; margin-left: 2%;">Crear comision</h2>

        <form action="/action_page.php" style="color:aliceblue; margin-left: 2%;">
            <br>
            

            <label for="nombre" style="font-size: 2.5rem;">Nombre/Tipo:</label><br><br>
            <input type="text" id="nombre" name="nombre" style="padding: 1rem; border-radius: 1.5rem; background-color: #b89e77ec; width: 70%; padding: 2rem; font-size: 25px;">
            <br>
            <br>
            <br>
            <label for="precio" style="font-size: 2.5rem;">Precio:</label><br><br>
            <input type="number" id="precio" name="precio" min="1" max="9999999" style="padding: 1rem; border-radius: 1.5rem; background-color: #b89e77ec; width: 15%; padding: 2rem; font-size: 25px;">
            <br>
            <br>
            <label for="desc" style="font-size: 2.5rem;">Descripcion:</label><br><br>
            <textarea name="desc" id="desc" cols="100" rows="10" style="background-color: #b89e77ec; border-radius: 1.5rem; width: 70%;"></textarea>
            <br>
            <br>
            <label for="comm_sample" style="font-size: 2.5rem;">Ejemplo:</label><br><br>
            <input type="file" id="comm_sample" name="comm_sample" style="padding: 1rem; border-radius: 1.5rem; background-color: #b89e77ec; width: 15%; padding: 2rem; font-size: 25px;">
        </form>
        <br>
        <br>
        <br>
        <div type="submit" class="boton" style="margin-left: 60%; font-size: 30px; width: fit-content; margin-left: 57%;">
            <a class="b-crearcomm" style="vertical-align: middle;" href="/comisiones">Crear comision</a>
        </div>

    </section>

    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</body>
</html>