<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mirart</title>
    <link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
    <link rel="preload" href="css/normalize.css" as="style">
    <link rel="stylesheet" href="css/normalize.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preload" href="css/style.css" as="style">
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <header>
        <nav class="nav-principal-contenedor sticky" style="height: 100px;">
           
            <a href="index.html">
                <img src="img/LOGO.png" alt="" class="logo">
            </a>
            <div class="titulo">
            <h1 >Mirart</h1>
            </div>

        
            
            <ul class="nav">
				
				<li><a href=""><img class="hamburger-icon" src="img/Menu icon.png" alt=""></a>
					<ul>
						<li><a href="login.html">Iniciar Sesion</a></li>
						<li><a href="register.html">Registrarse</a></li>
						
							
						</li>
					</ul>
				</li>
				
			</ul>
        
            
        </nav>   
    </header>

    <div class="sidebar sticky" style="width: 100px;">
        <div class="sidebar-content">
            <a href="index.html">
                <img src="img/HOME icon.png" alt="">
            </a>
            
            <a href="highlights.html">
                <img src="img/HIGHLIGHTS icon.png" alt="">
            </a>
           
            <a href="profile.html">
                <img src="img/PROFILE.png" alt="">
            </a>
            
            <a href="#" class="sb-faq">
                <img src="img/FAQ.png" alt="">
            </a>
        </div> 
    </div>  
    
    <section class="visor-content" style="width: auto ;">
        <div class="visor-image">
             <img src="img/LOGO.png" style="width: 50%;" alt=""> 
             <h2 style="color: white; font-size: 50px; display: inline; vertical-align: top; margin-left: 40px;">TITULO</h2>
                
             <a href="profile.html">
                 <img src="img/PROFILE.png" style="vertical-align: top ;">Nombre Usuario
             </a>

             <div class="textbox">
                <p class="descripcion" style="width: 700px; height: 600px; background-color: #271E1E; padding: 30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Duis scelerisque luctus nisl, non lobortis ante cursus ut. 
                    Fusce rhoncus, neque in placerat ornare, sapien dolor tincidunt est, ac viverra ex tellus eu dolor. 
                    Morbi luctus erat sed posuere dignissim. Integer a elit eu est laoreet tristique. Curabitur pretium felis orci, a sodales tortor pretium vitae. 
                    Nulla luctus dapibus mi, id porttitor urna. Vivamus mollis risus eu lorem interdum tristique. Nam congue diam sit amet ligula tincidunt, eget lobortis sapien ultrices. 
                    Cras porttitor non odio vitae scelerisque. Vivamus scelerisque mi sit amet aliquet lobortis. In aliquam sem in nulla pharetra, ut semper ligula venenatis. 
                </p>
             </div>
             
        </div>
      
        

    </section>

    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</body>
</html>